body {
  font-family: Arial, sans-serif;
  background-color: #0a1f44;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.placar {
  display: flex;
  gap: 40px;
}

.time {
  background-color: #1e3a8a;
  color: white;
  padding: 30px; /* padding azul */
  border-radius: 10px;
  text-align: center;
  width: 150px;
}

.pontos {
  font-size: 48px;
  margin: 20px 0;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.mais {
  background-color: #22c55e;
  color: white;
}

.menos {
  background-color: #ef4444;
  color: white;
}